*{
  box-sizing: border-box;
  font-family: Roboto;
  color:#777;
  
}
html,body{
  margin: 0;
  padding: 0;
}

/* nav styling */
.nav ul{
  margin: 0;

}
.nav li{
  display: inline;
 
}
.nav a{
  padding: .5em;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.nav a:hover{
  color: #f4d8a4;
}

.main-nav{
  font-size: 1.1em;
  text-align: center;
  border-bottom: 1px solid #f4d8a4
}

.main-nav li{
  padding: 0 8%;
}
.main-header{
  background-image:url('image/background.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  padding: 30px;
}

/* header styling */
.artist-header{
  text-align:center;
  margin:0;
  font-size:3em;
  font-family: "Tinos";
  font-weight: normal;
  color:#fff;
}


.artist-header-large{
  font-size: 6em;
}

/* section styling */

.content-section{
  margin:1%;
}
.container{
  max-width: 900px;
  margin: 5% auto;
  padding: 0 10px;
}
.section-header{
  font-weight: normal;
  font-family:Tinos;
  color: rgb(87, 84, 84);
  font-size: 2em;
  margin-left:15px;
}

/* image styling */
.content-image{
  float:left;
  height: 450px;
  width:450px;
  border-radius: 10px;
  margin:0 13px 8px;
}

article p{
  line-height:1.5 ;
  font-size:1.2em;
  text-align: justify;
}
/* footer styling */
.main-footer{
  background-color: rgb(125, 185, 206);
}
.main-footer-container img{
  mix-blend-mode: multiply;
  width: 50px;
  height: 50px;
  margin: 0 0 15px;
}
.main-footer-container{
display: flex;
margin: 0;
padding: 0;
list-style: none;
flex-wrap: wrap; 
justify-content: space-evenly;
}

.name-footer{
  color: #fff;
  font-size: 2em;
  padding: 40px 0px 0px 20px;
  font-family:"Tinos";
  font-weight: normal;
}

/* Button */
.btn{
  text-align: center;
  vertical-align: middle;
  padding: 10px 15px;
  cursor: pointer;

}

.btn-header{
border-radius: 5px;
border: #f4d8a4 1px solid;
background-color: rgba(255, 255, 255, .1);
transition: 0.2s;
color:#fff;
padding:10px 30px;
font-size: 15px;
display: block;
margin: 0 auto;
}
.btn-header:hover{
  background-color: #f4d8a4;
}

.btn-play{
  display: block;
  margin: 10px auto;
  padding:8px 23px;
  border-radius: 4px;
  border: #f4d8a4 1px solid;
  background-color: rgba(255, 255, 255, .1);
  color: red;
  cursor: pointer;
}

.tours-row{
  border-bottom: 1px rgb(230, 211, 211) solid;
  padding: 15px 0;

}
.tours-row:nth-child(5){
  border-bottom: none;
}

/* Tour items */

.tour-item{
  display: inline-block;

}

.tour-date{
  color: rgb(56, 50, 50);
  font-weight: bold;
 width: 12%;
}

.tour-city{
  width: 20%;
}

.tour-button{
  padding: 5px;
  background-color:rgb(132, 210, 235);
  color:#fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.tour-div{
  margin: 0 auto;
}

/* Store styling */
.shop-item{
  margin-right: 150px;
}

.shop-item-title{
  width: 100%;
  font-size: 1.2em;
  vertical-align: bottom;
  

}

.shop-item-image{
  height: 300px;
  border-radius: 5px;
  
}

.shop-item-details{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.shop-item-price{
padding-right: 10px;
}

.music-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Section category styling */
.section-category-header{
  width: 100%;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

/* Cart Styling */
.cart-column-headers{
  display: flex;
  justify-content: space-around;
}
.cart-column{
  border-bottom: 1px solid black;
  margin:0 auto;
  padding: 10px;
  margin-top: 10px;
}
/* .cart-flex{
  display: flex;
} */

.cart-item{
  /* display: block; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}


.cart-item-image{
  height: 100px;
  margin-top: 20px;
  border-radius: 3px;
  width: 15%;
}

.cart-item-price{

width: 40%;
}

.cart-item-item{
  width: 20%;
}
.cart-item-number{
  width: 10%;
  padding: 3px;
  border-radius: 1px;
  border:none;
}
.cart-item-button{
  width: 10%;
  background-color: rgb(148, 142, 142);
  color: #fff;
  border: none;
  padding: 3px;
  border-radius: 1px;
}

/* TOTAL PURCHASE */
.cart-total{
  display: flex;
  border-top: 2px solid black;
  width: 90%;
  justify-content: flex-end;
  
 
}
.cart-total-price{
 font-size: larger;
 padding: 5px;
 }
.cart-total-total{
 padding:5px 30px;
 font-size: larger;
 color: black;
}
.cart-purchase{
  display: flex;
  justify-content: flex-end;
  width: 85%;
  
}

.cart-button{
background-color: green;
border: none;
color: #fff;
cursor: pointer;
border-radius: 3px;
margin-top: 10px;
}
